body{
    background: black;
    font-size: 1.4em;
    font-family: 'Orbitron', sans-serif;
}
button{
    cursor: pointer;

}
#container{
    /*background: url("../images/giphy.gif");*/
    /*filter: blur(20px) grayscale(20%);*/
}
#background-gif{
    z-index: -2;
    position: absolute;
    filter: blur(5px) grayscale(50%);
    /*filter: invert(2%) sepia(9%) saturate(7%) hue-rotate(3deg) brightness(9%) contrast(1%);*/
    height: 100vh;
    width: 100vw;
    /*background-color: red;*/
}
#timer-container{
    z-index: 122;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#title{
    text-shadow: 0 0 4px #ff0050;
    text-align: center;
}
#timer-status{
    display: flex;
    justify-content: center;
}
#timer-status button{
    margin-right: 10px;
    width: 200px;
    font-size: 1.1em;
    border-radius: 13px;
    border: none;
    outline: none;
}
#timer-status button:hover{
    opacity: 0.7;
}
#btn-study{
    background-color: #960630;
    filter: blur(0px) grayscale(90%);
}
#btn-rest{
    background-color: #157b1d;
}

#timer-display{
    font-size: 5em;
    margin: 0px auto 50px auto;
    padding: 35px 50px;
    border-radius: 15px;
    color: gray;
    width: 380px;
}

#slider{
    -webkit-appearance: none;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 80, 0.55);
    background: #000000;
    outline: none;
    width: 550px;
    margin: auto;
}

#slider:disabled{
    filter: grayscale(80%);
;}

#slider::-webkit-slider-thumb{
    background: url("../images/tomato.png");
    -webkit-appearance: none;
    width: 50px;
    height: 59px;
    border: 0;
    cursor: pointer;
}
#slider::-moz-range-thumb{
    background: url("../images/tomato.png");
    width: 23px;
    height: 24px;
    border: 0;
    cursor: pointer;
}
#btn-start{
    display: block;
    margin: 60px auto 0 auto;
    font-size: 2.5em;
    background: none;
    border: none;
    outline: none;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
}
.pause{
color: #960630;
}
.start{
    color: #14801d;
}
.pause:hover{
    color: white;
    box-shadow: 0 0 25px #960630;
}

.start:hover{
    color: white;
    box-shadow: 0 0 25px #14801d;
}

#tomato-container{
    /*transition: all 2s ease;*/
    margin:20px auto 0 auto;
}

.tomato-in{
    transition: 0.6s ease-in-out;
    opacity: 1!important;
}
